[submodule "vim/vim.symlink/bundle/pathogen"]
	path = vim/vim.symlink/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/vim.symlink/bundle/tasklist"]
	path = vim/vim.symlink/bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/vim.symlink/bundle/gundo"]
	path = vim/vim.symlink/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/vim.symlink/bundle/tcomment"]
	path = vim/vim.symlink/bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/ack"]
	path = vim/vim.symlink/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/vim.symlink/bundle/delimitMate"]
	path = vim/vim.symlink/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/bundle/jedi"]
	path = vim/vim.symlink/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim.symlink/bundle/molokai"]
	path = vim/vim.symlink/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vim.symlink/bundle/extline"]
	path = vim/vim.symlink/bundle/extline
	url = https://github.com/drmikehenry/vim-extline.git
