snippet cl
	(closes #${1:xxxx})

snippet sg
	Signed-off-by: ${1:name} <${2:email}>

snippet ts
	Tested-by: ${1:name} <${2:email}>

snippet rw
	Reviewed-by: ${1:name} <${2:email}>

snippet ca
	Co-authored-by: ${1:name} <${2:email}>
