snippet h2
	<h2 id="${1:id}">${2:Lorem ipsum dolor}</h2>
snippet h3
	<h3 id="${1:id}">${2:Lorem ipsum dolor}</h3>
snippet h4
	<h4 id="${1:id}">${2:Lorem ipsum dolor}</h4>
snippet p
	<p>${1:Lorem ipsum dolor}</p>
snippet pp
	<p id="${1:id}">${2:Lorem ipsum dolor}</p>
